In [ ]:
from sqlalchemy import create_engine
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

In [ ]:
database_name = 'scooters'

connection_string = f'postgresql://postgres:postgres@localhost:5432/{database_name}'

engine = create_engine(connection_string)

In [ ]:
query = '''
SELECT companyname, SUM(tripduration)
FROM trips
WHERE tripduration IS NOT NULL
GROUP BY companyname
'''

pd.read_sql(query, con = engine)

Are there any null values in any columns in either table?

In [ ]:
query = '''
SELECT companyname, SUM(tripduration)
FROM trips
WHERE tripduration IS NOT NULL
GROUP BY companyname
'''

dfnull = pd.read_sql(query, con=engine)

print(df.isnull().sum())

dfnull.info()

What date range is represented in each of the date columns? Investigate any values that seem odd.

In [ ]:
#going to come back to these after I catch up to my group. Got behind dealing with the database crashing

Is time represented with am/pm or using 24 hour values in each of the columns that include time?

In [ ]:
query = '''
SELECT *
FROM scooters TABLESAMPLE
SYSTEM (1)
'''

dfsample = pd.read_sql(query, con=engine)

dfsample.head

What values are there in the sumdgroup column? Are there any that are not of interest for this project?

What are the minimum and maximum values for all the latitude and longitude columns? Do these ranges make sense, or is there anything surprising?

What is the range of values for trip duration and trip distance? Do these values make sense? Explore values that might seem questionable.

Check out how the values for the company name column in the scooters table compare to those of the trips table. What do you notice?

1. During this period, seven companies offered scooters. How many scooters did each company have in this time frame? Did the number for each company change over time? Did scooter usage vary by company?

In [ ]:
query = '''
SELECT companyname, COUNT(DISTINCT sumdid)
FROM scooters
WHERE sumdgroup != 'bicycle'
GROUP BY companyname
ORDER BY COUNT(DISTINCT sumdid) DESC
LIMIT 100;
'''

scooter_amount = pd.read_sql(query, con=engine)
    
scooter_amount

In [ ]:
query = """
SELECT DISTINCT companyname, COUNT(DISTinCT sumdid) as amount, to_char(pubdatetime, 'Mon') AS month
FROM scooters
WHERE sumdgroup != 'bicycle'
GROUP BY DISTINCT companyname, to_char(pubdatetime, 'Mon')
ORDER BY amount
"""
scooters_by_month=  pd.read_sql(query, con = engine)
scooters_by_month

In [ ]:
palette = sns.color_palette()
ax=sns.lineplot(data=scooters_by_month, x="month", y="amount", hue="companyname", markers=True, palette=palette)
ax.plot()

In [ ]:
scooters_by_company=scooter_amount.sort_values(by='amount', ascending=False)
ax=sns.barplot(scooters_by_company, x="companyname", y="amount")

2. According to Second Substitute Bill BL2018-1202 (as amended) (https://web.archive.org/web/20181019234657/https://www.nashville.gov/Metro-Clerk/Legislative/Ordinances/Details/7d2cf076-b12c-4645-a118-b530577c5ee8/2015-2019/BL2018-1202.aspx), all permitted operators will first clean data before providing or reporting data to Metro. Data processing and cleaning shall include:  
* Removal of staff servicing and test trips  
* Removal of trips below one minute  
* Trip lengths are capped at 24 hours  
Are the scooter companies in compliance with the second and third part of this rule?

In [ ]:
trips_data = trips_data[trips_data['tripduration'] >= 60] #longer than a minute

trips_data['tripduration'] = trips_data['tripduration'].apply(lambda x: min(x, 24 * 60 * 60)) #24 hour cap

compliance = trips_data.groupby('companyname').agg(
    total_trips=('triprecordnum', 'count'),
    min_trip_duration=('tripduration', 'min'),
    max_trip_duration=('tripduration', 'max')
).reset_index() #getting it groupde by company and finding min and max

compliance['complies_with_rule'] = (
    (compliance['min_trip_duration'] >= 60) & 
    (compliance['max_trip_duration'] <= 24 * 60 * 60)
)

compliance[['companyname', 'complies_with_rule']]

3. The goal of Metro Nashville is to have each scooter used a minimum of 3 times per day. Based on the data, what is the average number of trips per scooter per day? Make sure to consider the days that a scooter was available. How does this vary by company?

4. What is the highest count of scooters being used at the same time? When did it occur? Does this vary by zip code or other geographic region?

4. SUMDs can provide alternative transportation and provide "last mile" access to public transit. How often are trips starting near public transit hubs? You can download a dataset of bus stop locations from https://data.nashville.gov/Transportation/Regional-Transportation-Authority-Bus-Stops/p886-fnbd.

Deliverables:
At the conclusion of this project, your group should deliver a presentation which addresses the following points:
* Are scooter companies in compliance with the required data cleaning?
* What are typical usage patterns for scooters in terms of time, location, and trip duration?
* Does it appear that scooters are used as "last mile" transportation from public transit hubs to work or school?
* What are your recommendations for total number of scooters for the city overall and density of scooters by zip code?