## Metro Scooters Analysis
In May of 2018, Bird dropped hundreds of scooters on the streets of Nashville with no permission. In response, Metro sued, which caused Bird to remove and wait for permits. Metro began developing regulations for scooters and other shared urban mobility devices (SUMDs). In 2019, the Metro Council passed legislation enacting a one-year pilot program for scooters. For this project, you have been provided with the data for 3 months of this pilot program with the goal of reporting on usage trends and generating recommendations for quantity and distribution of scooters in Nashville.

Metro would like to know what the ideal density of available scooters is, which balances the objectives of
enabling scooters to serve transportation goals,
discouraging scooters from piling up on sidewalks,
keeping it economically viable for companies to operate equitably in the city.

This data for this project can be downloaded as a Postgres backup from https://drive.google.com/file/d/1BXAfByFvHCwX0G1BvTCQ373qKm7wE4Y-/view?usp=share_link.

Some notes about the data:
* When not in use, each scooter will report its location every five minutes. This data is contained in the scooters table.
* WARNING: Both tables contain a large number of records, so think carefully about what data you need to pull in a given query. If you try and pull in all rows from the scooters table, there is a very good chance that you will crash your notebook!

As you know, it's important to gain an understanding of new datasets before diving headlong into analysis. Here are some suggestions for guiding the process of getting to know the data contained in these tables:
- Are there any null values in any columns in either table?
- What date range is represented in each of the date columns? Investigate any values that seem odd.
- Is time represented with am/pm or using 24 hour values in each of the columns that include time?
- What values are there in the sumdgroup column? Are there any that are not of interest for this project?
- What are the minimum and maximum values for all the latitude and longitude columns? Do these ranges make sense, or is there anything surprising?
-What is the range of values for trip duration and trip distance? Do these values make sense? Explore values that might seem questionable.
- Check out how the values for the company name column in the scooters table compare to those of the trips table. What do you notice?

Once you've gotten an understanding of what is contained in the available tables, start with addressing these questions:
1. During this period, seven companies offered scooters. How many scooters did each company have in this time frame? Did the number for each company change over time? Did scooter usage vary by company?
2. According to Second Substitute Bill BL2018-1202 (as amended) (https://web.archive.org/web/20181019234657/https://www.nashville.gov/Metro-Clerk/Legislative/Ordinances/Details/7d2cf076-b12c-4645-a118-b530577c5ee8/2015-2019/BL2018-1202.aspx), all permitted operators will first clean data before providing or reporting data to Metro. Data processing and cleaning shall include:  
* Removal of staff servicing and test trips  
* Removal of trips below one minute  
* Trip lengths are capped at 24 hours  
Are the scooter companies in compliance with the second and third part of this rule? 
3. The goal of Metro Nashville is to have each scooter used a minimum of 3 times per day. Based on the data, what is the average number of trips per scooter per day? Make sure to consider the days that a scooter was available. How does this vary by company?
4. What is the highest count of scooters being used at the same time? When did it occur? Does this vary by zip code or other geographic region?
4. SUMDs can provide alternative transportation and provide "last mile" access to public transit. How often are trips starting near public transit hubs? You can download a dataset of bus stop locations from https://data.nashville.gov/Transportation/Regional-Transportation-Authority-Bus-Stops/p886-fnbd.

Deliverables:
At the conclusion of this project, your group should deliver a presentation which addresses the following points:
* Are scooter companies in compliance with the required data cleaning?
* What are typical usage patterns for scooters in terms of time, location, and trip duration?
* Does it appear that scooters are used as "last mile" transportation from public transit hubs to work or school?
* What are your recommendations for total number of scooters for the city overall and density of scooters by zip code?

In [ ]:
from sqlalchemy import create_engine, text
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from numpy import cos, sin, arcsin, sqrt
from math import radians

EDA
1. Are there any null values in any columns in either table?
2. What date range is represented in each of the date columns? Investigate any values that seem odd.
3. Is time represented with am/pm or using 24 hour values in each of the columns that include time?
4. What values are there in the sumdgroup column? Are there any that are not of interest for this project?
5. What are the minimum and maximum values for all the latitude and longitude columns? 
    A. Do these ranges make sense, or is there anything surprising? 
    B. -What is the range of values for trip duration and trip distance?
        i. Do these values make sense?
        ii. Explore values that might seem questionable.
6. Check out how the values for the company name column in the scooters table compare to those of the trips table. What do you notice?

In [ ]:
database_name = 'scooters'    # Fill this in with your scooters database name

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

engine = create_engine(connection_string)

query = """
SELECT *
FROM trips
where pubtimestamp is null
or companyname is null
or triprecordnum is null
or sumdid is null
or tripduration is null
or tripdistance is null
or startdate is null
or starttime is null
or enddate is null
or endtime is null 
or startlatitude is null
or startlongitude is null
or triproute is null
or create_dt is null
"""

null_trips = pd.read_sql(text(query), con = engine)
null_trips.head()

In [ ]:
query = """
select
*
from scooters
where pubdatetime is null
or latitude is null
or longitude is null
or sumdid is null
or sumdtype is null
or chargelevel is null
or sumdgroup is null
or costpermin is null
or companyname is null;
"""

null_scooters = pd.read_sql(text(query), con = engine)
row_count= len(null_scooters)
row_count

In [ ]:
query = """
select
min(pubdatetime),
max(pubdatetime)
from scooters;
"""

min_max_dates_scooters = pd.read_sql(text(query), con = engine)
min_max_dates_scooters

In [ ]:
query = """
SELECT 
min(startdate) as startdate_min,
max(startdate) as startdate_max,
min(enddate) as enddate_min,
max(enddate) as enddate_max
FROM trips
"""

min_max_dates_trips = pd.read_sql(text(query), con = engine)
min_max_dates_trips

In [ ]:
query = """
select
pubdatetime
from scooters
limit 1;

"""

pubdatetime_scooters = pd.read_sql(text(query), con = engine)
pubdatetime_scooters

In [ ]:
query = """
SELECT pubtimestamp
FROM trips
limit 1;

"""
time_trips = pd.read_sql(text(query), con = engine)
time_trips

In [ ]:
query = """
SELECT 
t.sumdid as t_sum,
s.sumdid as s_sum
FROM trips as t
JOIN scooters as s
ON t.sumdid=s.sumdid
limit 5;

"""
sumdid_trips_scooters=  pd.read_sql(text(query), con = engine)
sumdid_trips_scooters

In [ ]:
query = """
SELECT 
min(startlatitude) as startlat_min,
max(startlatitude) as startlat_max,
min(startlongitude) as startlong_min,
max(startlongitude) as startlong_max
FROM trips as t
"""

lat_long_trips=  pd.read_sql(text(query), con = engine)
lat_long_trips

In [ ]:
query = """
SELECT
min(latitude) as lat_min,
max(latitude) as lat_max,
min(longitude) as long_min,
max(longitude) as long_max
FROM scooters as s
"""

lat_long_scooters=  pd.read_sql(text(query), con = engine)
lat_long_scooters

In [ ]:
query = """
SELECT
distinct(companyname)
FROM scooters as s
"""

comp_name_scooters=  pd.read_sql(text(query), con = engine)
comp_name_scooters

In [ ]:
query = """
SELECT
distinct(companyname)
FROM trips as t
"""

comp_name_trips=  pd.read_sql(text(query), con = engine)
comp_name_trips

1. During this period, seven companies offered scooters. How many scooters did each company have in this time frame? Did the number for each company change over time? Did scooter usage vary by company?

In [ ]:
query = """
Select
Distinct companyname,
Count(distinct sumdid) As counts
From scooters
Where sumdgroup != 'bicycle'
Group By
Distinct companyname
Order By counts Desc

"""
scooters_by_company=  pd.read_sql(text(query), con = engine)
scooters_by_company

In [ ]:
query = """
select
distinct companyname,
to_char(pubdatetime, 'Mon') as month,
count(distinct sumdid) as counts
from scooters
where sumdgroup != 'bicycle'
group by
distinct companyname,
to_char(pubdatetime, 'Mon')
Order by counts

"""
scooters_by_month=  pd.read_sql(text(query), con = engine)
scooters_by_month

In [ ]:
months_dict={'May':5,'Jun':6,'Jul':7}
scooters_by_month['month2']=scooters_by_month['month'].map(months_dict)
scooters_by_month=scooters_by_month.sort_values(by='month2')
scooters_by_month

In [ ]:
palette = sns.color_palette()
ax=sns.lineplot(data=scooters_by_month, x="month", y="counts", hue="companyname", markers=True, palette=palette)
ax.plot()

In [ ]:
scooters_by_company=scooters_by_company.sort_values(by='counts', ascending=False)
ax=sns.barplot(scooters_by_company, x="companyname", y="counts")

2. According to Second Substitute Bill BL2018-1202 (as amended) (https://web.archive.org/web/20181019234657/https://www.nashville.gov/Metro-Clerk/Legislative/Ordinances/Details/7d2cf076-b12c-4645-a118-b530577c5ee8/2015-2019/BL2018-1202.aspx), all permitted operators will first clean data before providing or reporting data to Metro. Data processing and cleaning shall include:  
* Removal of staff servicing and test trips  
* Removal of trips below one minute  
* Trip lengths are capped at 24 hours  
Are the scooter companies in compliance with the second and third part of this rule?

In [ ]:
query="""
select
companyname,
startdate + starttime as s_stamp,
enddate + endtime as e_stamp,
(enddate + endtime)-(startdate + starttime) as elapsed_time
from trips
where (enddate + endtime)-(startdate + starttime) > interval '1 minute'
and (enddate + endtime)-(startdate + starttime) < interval '1440 minute'

"""
in_compliance =  pd.read_sql(text(query), con = engine)
in_compliance

3. The goal of Metro Nashville is to have each scooter used a minimum of 3 times per day. Based on the data, what is the average number of trips per scooter per day? Make sure to consider the days that a scooter was available. How does this vary by company?

In [ ]:
query="""
With in_compliance As(
	Select
	*,
	ts.startdate + ts.starttime as s_stamp,
	ts.enddate + ts.endtime as e_stamp,
	(ts.enddate + ts.endtime)-(ts.startdate + ts.starttime) as elapsed_time
	From trips As ts
	Where (ts.enddate + ts.endtime)-(ts.startdate + ts.starttime) > interval '1 minute'
	And (ts.enddate + ts.endtime)-(ts.startdate + ts.starttime) < interval '1440 minute'),
	
	filters As(
	Select
    in_compliance.companyname,
    in_compliance.sumdid,
    Cast(in_compliance.pubtimestamp as DATE) as dates,
    Count(Distinct in_compliance.pubtimestamp) as counts
	From in_compliance
	Group by
    in_compliance.sumdid,
    dates,
    in_compliance.companyname)
Select
    filters.companyname,
    filters.sumdid,
    avg(filters.counts) as daily_avg
From
filters
Group by
    filters.companyname,
    filters.sumdid
Order by
filters.companyname,
daily_avg Desc
"""

##df of comp, scootersids, and the avg use per day.(who have trip durations that exceed 1 minute but not 24hrs)
scooter_daily_avg =  pd.read_sql(text(query), con = engine)
scooter_daily_avg

In [ ]:
scooter_daily_avg.sort_values(by='daily_avg',ascending=False)

In [ ]:
#count of scooter per company who have trip durations that exceed 1 minute but not 24hrs
scooter_by_comp=scooter_daily_avg.groupby(['companyname'])['sumdid'].count()
scooter_by_comp

In [ ]:
#count of scooters being used 3xs per day per company who have trip durations that exceed 1 minute but not 24hrs
scooter_daily_avg.dtypes
higher_than_3=scooter_daily_avg.loc[scooter_daily_avg['daily_avg']>=3.0]
higher_than_3_count=higher_than_3.groupby(['companyname'])['sumdid'].count()
higher_than_3_count

In [ ]:
#percentage of scooters (who have trip durations that exceed 1 minute but not 24hrs) being used more than 3xs per day by company
percents=(higher_than_3_count/scooter_by_comp)*100
percents

In [ ]:
percents.plot(kind='bar')
#I think I'm supposed to normalize this because of the huge disparity in the amount of scootrers per company

5. SUMDs can provide alternative transportation and provide "last mile" access to public transit. How often are trips starting near public transit hubs? You can download a dataset of bus stop locations from https://data.nashville.gov/Transportation/Regional-Transportation-Authority-Bus-Stops/p886-fnbd.

In [ ]:
import geopandas as gpd
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster

In [ ]:
from sklearn.metrics.pairwise import haversine_distances
from math import radians, sin, cos, sqrt, atan2

In [ ]:
query="""
	Select
	*,
	ts.startdate + ts.starttime as s_stamp,
	ts.enddate + ts.endtime as e_stamp,
	(ts.enddate + ts.endtime)-(ts.startdate + ts.starttime) as elapsed_time
	From trips As ts
	Where (ts.enddate + ts.endtime)-(ts.startdate + ts.starttime) > interval '1 minute'
	And (ts.enddate + ts.endtime)-(ts.startdate + ts.starttime) < interval '1440 minute'
"""

##df of trips table(who have trip durations that exceed 1 minute but not 24hrs) plus
trips_et_incompliance =  pd.read_sql(text(query), con = engine)
cleaned_trips=trips_et_incompliance[['companyname','sumdid', 'startlatitude', 'startlongitude']]
cleaned_trips

bus_stops= gpd.read_file('../data/Regional_Transportation_Authority_Bus_Stops_20240106.csv')
bs=bus_stops[['Stop Name', 'Stop ID Number', 'Mapped Location']]
bs[['latitude','longitude']]=bs['Mapped Location'].str.split(',', expand=True)

In [ ]:
bus_stops= gpd.read_file('../data/Regional_Transportation_Authority_Bus_Stops_20240106.csv')
bs=bus_stops[['Stop Name', 'Stop ID Number', 'Mapped Location']]
bs[['latitude','longitude']]=bs['Mapped Location'].str.split(',', expand=True)
bs

In [ ]:
bus_stops[['latitude','longitude']]=bus_stops['Mapped Location'].str.split(',', expand=True)
bus_stops.latitude=bus_stops.latitude.str.replace('(','').astype(float)
bus_stops.longitude=bus_stops.longitude.str.replace(')','').astype(float)
bus_stops

In [ ]:
from itertools import product

def haversine(lat1, lon1, lat2, lon2):
    radius = 6371  # Radius of Earth in kilometers

    # Convert latitude and longitude from degrees to radians
    lat1, lon1, lat2, lon2 = map(radians, [lat1, lon1, lat2, lon2])

    
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    a = sin(dlat / 2) ** 2 + cos(lat1) * cos(lat2) * sin(dlon / 2) ** 2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    
    distance = radius * c
    return distance

def distances(cleaned_trips, bus_stops):
    # Create a Cartesian product of rows using itertools.product
    cartesian_product = pd.DataFrame(list(product(cleaned_trips.iterrows(), bus_stops.iterrows())),
                                     columns=['cleaned_trips_index', 'bus_stops_index'])

    # Calculate distances using vectorized haversine function
    cartesian_product['distance'] = cartesian_product.apply(
        lambda row: haversine(
            row['cleaned_trips_index'][1]['startlatitude'],
            row['cleaned_trips_index'][1]['startlongitude'],
            row['bus_stops_index'][1]['latitude'],
            row['bus_stops_index'][1]['longitude']
        ),
        axis=1
    )

   
    nearest_df = pd.DataFrame({
        'distance': cartesian_product['distance'],
        'sumdid': cartesian_product['cleaned_trips_index'].apply(lambda x: x[1]['sumdid']),
        'stopname': cartesian_product['bus_stops_index'].apply(lambda x: x[1]['Stop Abbreviation'])
    })

    return nearest_df

# Example usage
nearest_df = distances(cleaned_trips, bus_stops)
print(nearest_df)

In [ ]:
nearest_df.to_csv('../data/neares_df.csv')
bus_stops.to_csv('../data/bus_stops.csv')

In [ ]:
#a mile is 1.60934 km
within_1mile=nearest_df.loc[nearest_df['distance']<= 1.60934]
within_1mile

In [ ]:
#'working on #5 created a function and used an iterrows loop to pass the geo point from one df to another. 
#masked the resulting df to only show rows of trips that started from within 1 mile of the nearest bus stop. 
#now I'm thinking we should compare the 1mile mask sumdids to the sumdids that avg-ed 3x per day usage.
merged=pd.merge(within_1mile, scooter_daily_avg, on='sumdid', how='left')
merged

In [ ]:
merged_3x_perday= merged.loc[merged['daily_avg']>= 3.0]
merged_3x_perday

In [ ]:
#maybe a value count of the stops to see if there's an area that is popular to pick up scooters
#this one is scooters if they avg being used 3xs per day
grouped_stops3x=merged_3x_perday.groupby(['stopname'])['sumdid'].count()

#this one is all scooters regardless if they avg being used 3xs per day
grouped_stops_all=merged.groupby(['stopname'])['sumdid'].count()

In [ ]:
grouped_stops3x.sort_values(ascending=False)

In [ ]:
grouped_stops_all.sort_values(ascending=False)

In [ ]:
#getting a percentage to normalize results
grouped_stop_percents=(grouped_stops3x/grouped_stops_all)*100
grouped_stop_percents.sort_values(ascending=False)

#now I think we should use a folium map. plot all the bus stops on a map of nashville.
#then add details of the scooters counts that are within a mile of each stop
#and the perc of scotters that are used 3xs per day and are within a mile of the stops
#maybe charts too

In [ ]:
import geopandas as gpd
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster

In [ ]:
zipcodes = gpd.read_file('../data/zipcodes.geojson')
print(zipcodes.crs)
zipcodes.geometry.centroid

In [ ]:
center = zipcodes.geometry.centroid[42]
area_center = [center.y, center.x]

In [ ]:
city_map= folium.Map(location =  area_center, zoom_start = 12)
city_map

In [ ]:
for row_index, row_values in bus_stops.iterrows():
    loc = [row_values['latitude'], row_values['longitude']]
    pop = str(row_values['Stop Abbreviation'])
    icon=folium.Icon(color="blue",icon="bus", prefix='fa')
    
    marker = folium.Marker(
        location = loc, 
        popup = pop, icon = icon) 

    marker.add_to(city_map)
city_map

In [ ]:
print(nearest_df['stopname'].unique())

In [ ]:
print(bus_stops['Mapped Location'].unique())

In [ ]:
bus_stops

In [ ]:
query = """
with filters as(
select
companyname,
startdate + starttime as s_stamp,
enddate + endtime as e_stamp,
(enddate + endtime)-(startdate + starttime) as elapsed_time
from trips
where (enddate + endtime)-(startdate + starttime) <= interval '1 minute'
or (enddate + endtime)-(startdate + starttime) >= interval '1440 minute')
select
filters.companyname,
count(filters.companyname) as out_compliance
from filters
group by
companyname

"""
out_comp_trips=  pd.read_sql(text(query), con = engine)
out_comp_trips

In [ ]:
query = """
select
companyname,
count(companyname)
from trips
group by companyname

"""
trips_count= pd.read_sql(text(query), con = engine)
trips_count

In [ ]:
out_comp_trips.out_compliance=out_comp_trips.out_compliance.astype(float)
trips_count['count']=trips_count['count'].astype(float)
out_perc= (out_comp_trips.out_compliance/trips_count['count'])*100
out_perc.info()
trips_count.info()

In [ ]:
out_perc.to_frame()
out_perc.info()

trips_count.merge(out_perc.to_frame(), left_index=True, right_index=True)
trips_count